<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <gazebo>
        <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="libgz_ros2_control-system.so">
            <parameters>$(find youbot)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="gz::sim::systems::MecanumDrive" filename="gz-sim-mecanum-drive-system">

            <ros>
                <namespace>/youbot</namespace>
            </ros>
            <!-- Wheel Information -->
            <front_left_joint>wheel_joint_fl</front_left_joint>
            <front_right_joint>wheel_joint_fr</front_right_joint>
            <back_left_joint>wheel_joint_bl</back_left_joint>
            <back_right_joint>wheel_joint_br</back_right_joint>
            
            <wheel_separation>0.297</wheel_separation>
            <wheelbase>0.297</wheelbase>
            <wheel_radius>0.033</wheel_radius>

            <update_rate>20</update_rate>
            <odom_publish_frequency>20</odom_publish_frequency>

            <topic>cmd_vel</topic>
            <odom_topic>odom</odom_topic>
            <tf_topic>tf</tf_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
        </plugin>


        <!-- <plugin filename="gz-sim-joint-state-publisher-system"   USE??? TODO
            name="gz::sim::systems::JointStatePublisher">
            <topic>joint_states</topic>
            <joint_name>wheel_joint_fl</joint_name>
            <joint_name>wheel_joint_fr</joint_name>
            <joint_name>wheel_joint_bl</joint_name>
            <joint_name>wheel_joint_br</joint_name>
        </plugin> -->
    </gazebo> 


</robot>
